# This is a example configuration file used to configurate the devices simulation for sharing reviews
# All lines starting with an # will be rejected

# Device Configuration

DEVICE_NUMBER=    # Represents the number of the devices running on the simulation (>0)
REVIEW_SEND_TIME= # Represents the send time between each review by each device (>0)
REVIEW_QUANTITY=  # Represents the quantity of reviews being send by each device (>0)
RANDOM_SEND_TIME= # Represents if the simulation devices should send the reviews for a random send time using the value previously determined (1 for true 0 for false)
RANDOM_QUANTITY=  # Represents if the simulation devices should send a random quantity of reviews using the value previously determined (1 for true 0 for false)
